<nav class="navbar navbar-expand-lg navbar-light bg-danger">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="btn col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1">
              <img src="https://image.flaticon.com/icons/png/512/83/83519.png" width="80px" height="80px"> <a  routerLink="/home/" class="badge badge-danger">Home</a>
            </a>
            
        
          <li class="nav-item">
                <a class="label" ><h1 class="text-dark font-weight-bold">APPMOVIE</h1></a>
            </li>




        </ul>

    </div>
</nav>
